@import url(http://fonts.googleapis.com/css?family=Puritan:400,400italic,700|Cardo:400,400italic,700);

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?7o37lh');
    src:url('../fonts/icomoon.eot?#iefix7o37lh') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?7o37lh') format('truetype'),
    url('../fonts/icomoon.woff?7o37lh') format('woff'),
    url('../fonts/icomoon.svg?7o37lh#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: red;
    font-size: 30px;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-immsetab_font_icon:before {
    content: "\e600";
}

html {
    height: 100%;
}
body {
    background: #f3f3f3;
    padding: 0;
    text-align: center;
    font-family: 'Puritan', sans-serif;
    position: relative;
    margin: 0;
    height: 100%;
}

header {
    width: 100%;
    z-index: 99;
}

header .sticky-nav {
    position: absolute;
    width: 100%;
    height: 60px;
    background: #26292E;
    z-index: 1001;

    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}


header #logo {
    color: #FFFFFF;
    float: left;
    padding: 15px 0;
    margin-left: 20px;
}

header #logo a {
    color: #f7f7f7;
    font-size: 20px;
    line-height: 30px;
    display: block;
    text-transform: uppercase;
    font-family: 'Puritan', sans-serif;
}

header #logo a:hover {
    color: #c60000;
    font-size: 20px;
    line-height: 30px;
    display: block;
    text-transform: uppercase;
}

nav#menu {
    float: right;
    margin-right: 20px;
    font-family: 'Puritan', sans-serif;
}

nav#menu #menu-nav {
    margin: 0;
    padding: 0;
}

nav#menu #menu-nav li {
    list-style: none;
    display: inline-block;
    margin-left: 50px;
}

nav#menu #menu-nav li:first-child {
    margin-left: 0;
}

nav#menu #menu-nav li a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    line-height: 60px;
    display: block;
    text-transform: uppercase;
    font-family: 'Puritan', sans-serif;
}

nav#menu #menu-nav li.current a,
nav#menu #menu-nav li a:hover {
    color: #DE5E60;
    font-family: 'Puritan', sans-serif;
}

form{
    width: 600px;
    display: inline-block;
    margin: 1em;
    font-family: 'Puritan', sans-serif;
}

.alert {
    padding-top: 50px;
}

.alert p {
    color: #f3f3f3;
}

.wrapper {
    height: auto !important;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

a {
    text-decoration: none;
    font-family: 'Puritan', sans-serif;
}

h1, h2, h3, h4, h5 {
    width: 100%;
    font-weight: bold;
    font-family: 'Puritan', sans-serif;
}

.pointer {
    color: #9b59b6;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    margin-top: 15px;
}

.main {
    float: left;
    width: 100%;
    margin: 0 auto;
    background: #161923;
}

.section-heading {
    text-align: center;
    padding: 30px 0;
}

.section-heading h1 {
    font-size: 45px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Puritan', sans-serif;
}

.section-heading h3 {
    color: #555555;
    font-family: 'Puritan', sans-serif;
}

.page_container {
    max-width: 960px;
    margin: 50px auto;
}

.immersive_slider .is-slide .content h2{
    line-height: 140%;
    font-weight: 100;
    color: white;
    font-family: 'Puritan', sans-serif;
}
.immersive_slider .is-slide .content a {
    color: white;
    font-family: 'Puritan', sans-serif;
}

.immersive_slider .is-slide .content p{
    float: left;
    font-weight: 100;
    width: 100%;
    font-size: 17px;
    font-family: 'Puritan', sans-serif;
    margin-top: 5px;
}

.has-feedback.left .form-control-feedback {
    top: 7px;
    right: inherit;
    left: 0;
}

.has-feedback.left .form-control {
    padding-left: 33px;
    padding-right: 0;
    width: 320px;
}

.form-control {
    height: 120px;
    border-bottom: 5px solid #eeeeee;
}


section#tentang {
    padding: 30px !important;
    text-align: left;
    background-image: url("../images/immawati.png");
}
section#tentang .media-circle {
    margin: 15px 0;
}

section#tentang i {
    color: #c60000;
    background-color: #000000;
    padding: 20px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    border-radius: 40px;
}

section#tentang i:hover {
    color: #26292E;
    background-color: #1a1a1a;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
}

section#tentang .media-circle .media-body {
    margin-top: 10px;
}
section#tentang .media-circle .media-body h4 {
    font-weight: 600;
    color: #26292E;
    font-family: 'Puritan', sans-serif;
}
section#tentang .media-circle .media-body p {
    color: #26292E;
    font-family: 'Puritan', sans-serif;
}

section#tentang h1 {
    color: #26292E;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Puritan', sans-serif;
    padding-bottom: 20px;
}

section#deklarasi {
    padding: 40px 0;
    background-color: #c60000;
}

section#deklarasi h1 h4 {
    color: #f3f3f3;
}

section#deklarasi .member {
    padding: 10px;
}
section#deklarasi .member .member-image {
    position: relative;
}
section#deklarasi .member .member-image .member-details {
    position: absolute;
    top: 0;
    opacity: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.55);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8C000000,endColorstr=#8C000000);
    zoom: 1;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    text-align: center;
    color: #f3f3f3;;
}
section#deklarasi .member .member-image .member-details h4 {
    margin-top: 50px;
    text-transform: uppercase;
    font-family: 'Puritan', sans-serif;
}
section#deklarasi .member .member-image .member-details p {
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
    text-align: left;
    font-family: 'Puritan', sans-serif;
    padding: 0 15px;
    font-size: 13px;
}
section#deklarasi .member .member-image .member-details ul {
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 0;
}
section#deklarasi .member .member-image .member-details ul li {
    float: left;
}
section#deklarasi .member .member-image .member-details ul li a {
    padding: 5px;
    margin: 2px;
    font-family: 'Puritan', sans-serif;
}
section#deklarasi .member .member-image .member-details ul li a i {
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    color: white;
    font-family: 'Puritan', sans-serif;
}
section#deklarasi .member .member-image .member-details ul li a:hover i {
    color: #22a3df;
}
section#deklarasi .member .member-name {
    padding: 20px 0;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
section#deklarasi .member .member-name h4 {
    margin: 0;
    padding: 0 0 5px 15px;
    text-transform: uppercase;
    font-family: 'Puritan', sans-serif;
}
section#deklarasi .member .member-name p {
    padding-left: 15px;
    color: #fff;
    margin: 0;
    font-family: 'Puritan', sans-serif;
}

section#deklarasi .member .member-name.member-odd {
}
section#deklarasi .member:hover .member-image .member-details {
    opacity: 1;
}
section#deklarasi .member:hover .member-name {
    background: #800000;
}
section#deklarasi .member:hover .member-name h4, section#artikel .member:hover .member-name p {
    color: white;
}

section#imm {
    background-image: url(../images/bg_tri_kompetensi.png);
    background-attachment: fixed;
    padding: 10px;
}

section#imm .list {
    border-radius: 5px;
    height: 150px;
    margin: 40px 0 40px 0;
}

section#imm .religi {
    background-image: url(../images/bg_religiusitas.png);
    background-size: cover;
}

section#imm .intelek {
    background-image: url(../images/bg_intelektualitas.png);
    background-size: cover;
}

section#imm .humanis {
    background-image: url(../images/slide2_blurred.jpg);
}

section#imm .media-circle{
    margin: 15px 0;
}

section#imm img {
    padding-top: 10px;
    padding-left: 10px;
    width: 150px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    border-radius: 20px;
}

section#imm img:hover {
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    opacity: 0.8;
}

section#imm .media-heading {
    padding-top: 20px !important;

}
section#imm .media-circle .media-body {
    margin-top: 10px;
    padding-left: 50px;
}
section#imm .media-circle .media-body h2 {
    color: #f5f5f5;
    text-align: left;
    font-family: 'Puritan', sans-serif;
}
section#imm .media-circle .media-body h4 {
    color: #f7f7f7;
    text-align: left;
    font-family: 'Puritan', sans-serif;
}

section#tanfidz {
    background-color: #ff0000;
    padding: 10px;
}

section#tanfidz .list {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-image: url(../images/slide2_blurred.jpg);
    padding: 10px;
}

section#login h2 {
    font-family: 'Puritan', sans-serif;
    text-align: left;
    color: #f5f5f5;
}

section#login p {
    font-family: 'Puritan', sans-serif;
    text-align: left;
    padding-left: 15px ;
}

section#login .btn-login {
    margin: 40px 0 0 15px;
    float: left;
}

section#registrasi {
    border-radius: 5px;
    height: 459px;
    margin: 40px;
    border: solid #c60000;
}

section#registrasi .icon-immsetab_font_icon {
    content: inherit;
    margin-top: 40px;
}

section#registrasi .form-group {
    padding-top: 0px;
}

section#registrasi h1 {
    text-align: left;
    font-family: 'Puritan', sans-serif;
}

section#registrasi p {
    text-align: left;
    font-family: 'Puritan', sans-serif;
}


section#ora_nggenah {
    background-attachment: fixed;
    padding: 65px 0;
}
section#ora_nggenah h1 {
    color: #c60000;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 45px;
}

section#ora_nggenah p {
    color: white;
    padding: 20px 0;
    line-height: 25px;
    font-size: 16px;
    font-family: 'Puritan', sans-serif;
}



footer#site-footer {
    padding: 40px 0;
    background: #222222;
    color: white;
    text-align: center;
}
footer#site-footer span.divider {
    float: none;
}
footer#site-footer h4, footer#site-footer h5 {
    text-transform: uppercase;
    font-family: 'Puritan', sans-serif;
}
footer#site-footer a img.top {
    margin: 20px 0;
    font-family: 'Puritan', sans-serif;
}